<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> {% block title %}{% endblock %}</title>
	
	 <base href="../" > 
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
	<!-- Core Theme CSS   -->
    <link href="{{url_for('static', filename='css/material-dashboard.css') }}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/material-dashboard.css.map') }}" rel="stylesheet" type="text/css">
    <link  id="pagestyle" href="{{url_for('static', filename='css/material-dashboard.min.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="{{url_for('static', filename='css/nucleo-icons.css') }}" rel="stylesheet" type="text/css"> -->
    <link href="{{url_for('static', filename='css/iconpacks/fa/css/fontawesome.css') }}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/iconpacks/fa/css/solid.css') }}" rel="stylesheet" type="text/css">
    <!-- Core Theme JS   -->
    <script src="{{url_for('static', filename='js/core/popper.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/core/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/core/global.js') }}"></script>
    <script src="{{url_for('static', filename='js/core/ajax.js') }}"></script>
    <script src="{{url_for('static', filename='js/core/blockui.js') }}"></script>
    <script src="{{url_for('static', filename='js/plugins/perfect-scrollbar.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/plugins/smooth-scrollbar.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/plugins/chartjs.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/material-dashboard.min.js') }}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- 
    Angular CDNs to be replaced later
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular-csp.css" integrity="sha512-f7WVHp6iaZ7iOx9duYm67KLwCFJ9KirfMIK0MAOxf1wq5M8Ogdw5ljbCxlk/BtWIbyXWMsIaDaqwUpXttPQ/5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="g-sidenav-show  bg-gray-200">
    
    
    {% block sidebarcontent %}{% endblock %}
    {% block navbarcontent %}{% endblock %}
    {% block bodycontent %}{% endblock %}
    {% block modalcontent %}{% endblock %}
    {% block footerconent %}{% endblock %}
</body>
</html>