{% extends "layout.html" %}
{% block sidebarcontent %} 

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
        <img src="../assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Recruit Ease</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white active bg-gradient-danger" href="/dashboard">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-chart-line"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white " href="admin"">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-users-gear"></i>
              </div>
              <span class="nav-link-text ms-1">Administrators</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/privilegegroup">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-people-group"></i>
              </div>
              <span class="nav-link-text ms-1">Privilege Groups</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/opportunities">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-boxes-stacked"></i>
              </div>
              <span class="nav-link-text ms-1">Opportunities</span>
            </a>
          </li>
        
        <li class="nav-item">
          <a class="nav-link text-white " href="unscreenedcandidates">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-users-slash"></i>
            </div>
            <span class="nav-link-text ms-1">Un-Screened Candidates</span>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white " href="screenedcandidates">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-user-group"></i>
              </div>
              <span class="nav-link-text ms-1">Screened Candidates</span>
            </a>
          </li>
        
      </ul>
    </div>
    
  </aside>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 border-radius-xl shadow-none" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
  
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
    <div class="ms-md-auto pe-md-3 d-flex align-items-center">
    </div>
    <ul class="navbar-nav  justify-content-end">
    
    <li class="mt-2">
    <span></span>
    </li>
    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
    <a href="javascript:;" class="nav-link p-0 text-body" id="iconNavbarSidenav">
    <div class="sidenav-toggler-inner">
    <i class="sidenav-toggler-line"></i>
    <i class="sidenav-toggler-line"></i>
    <i class="sidenav-toggler-line"></i>
    </div>
    </a>
    </li>
   
    
    </li>
    <li class="nav-item d-flex align-items-center">
    <a href="../pages/sign-in.html" class="nav-link font-weight-bold px-0 text-body">
    <i class="fa fa-user me-sm-1" aria-hidden="true"></i>
    <span class="d-sm-inline d-none">Log Out</span>
    </a>
    </li>
    </ul>
    </div>
    </div>
    </nav>
  {% endblock %}